<?xml version='1.0' encoding='utf-8'?>
<widget id="com.greensquad.compareto" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Compare To</name>
    <description>
        A fun application to demonstrate comparisons of different things.
    </description>
    <author email="gscoders@gmail.com" href="">
        Green Squad
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
	
	<platform name="android">
		<icon src="www/res/android/icon-mdpi.png" density="ldpi" />
		<icon src="www/res/android/icon-mdpi.png" density="mdpi" />
		<icon src="www/res/android/icon-hdpi.png" density="hdpi" />
		<icon src="www/res/android/icon-xhdpi.png" density="xhdpi" />
	</platform>
	
	<platform name="wp8">
        <icon src="www/res/wp8/icon.png" width="99" height="99" />
		<!-- tile image -->
        <icon src="www/res/wp8/Background.png" width="159" height="159" />
		<!-- splash screen -->
		<splash src="www/res/wp8/SplashScreenImage.jpg" width="768" height="1280"/>
     </platform>
</widget>
